.sta-password {
  position: relative;

  input {
    &.is-invalid,
    &:focus,
    &:active {
      ~ .sta-password-strength {
        display: block;
      }
    }
  }
}

.sta-password-strength {
  @include media-breakpoint-up(lg) {
    display: none;
    // display: block; // dev
    position: absolute;
    top: 42px;
    inset-inline-start: calc(100% + 24px);
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: $border-radius;
    // box-shadow: 0 10px 20px rgba(#000, 20%);
    z-index: 50;
    width: 370px;
    filter: drop-shadow(0 10px 20px rgba(#000, 20%));

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 16px solid #fff;
      position: absolute;
      top: calc(50% - 12px);
      inset-inline-end: 100%;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      position: relative;
      padding-inline-start: 24px;
      margin-bottom: 16px;

      &.active {
        &:before {
          background-color: $success;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        mask-image: url('#{$images_path}/check.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: rgba(#000, 15%);
        position: absolute;
        top: 4px;
        inset-inline-start: 0;
      }
    }
  }

  .progress {
    height: 4px;
    border-radius: 0;
  }

  .progress-bar {
    background-color: $danger;
    transition: width 0.3s ease;

    &[data-score="2"] {
      background-color: $warning;
    }

    &[data-score="3"] {
      background-color: $info;
    }

    &[data-score="4"] {
      background-color: $success;
    }
  }
}
